<!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <span *ngIf="filme.idFilme > 0" >Editar- {{filme.titulo}}</span>
          <span *ngIf="filme.idFilme == null" >Novo</span>
        </h4>
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="myForm">
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden"  name="idFilme" [(ngModel)]="filme.idFilme" />
          </div>
          <div class="form-group">
            <label>Título</label>
            <input type="text" #titulo="ngModel"  required name="titulo" class="form-control" [(ngModel)]="filme.titulo"/>
            <span class="error" *ngIf="!titulo.valid && titulo.touched" >o campo Título é obrigatório</span>
          </div>
          <div class="form-group">
            <label>Duração</label>
            <input type="number" #duracao="ngModel" required name="duracao" class="form-control" [(ngModel)]="filme.duracao" />
            <span class="error" *ngIf="!duracao.valid && duracao.touched" >o campo Duração é obrigatório</span>
          </div>
          <div class="form-group">
            <label>Gênero</label>
            <select required #gen ="ngModel" class="form-control" name="id" [(ngModel)]="filme.genero.id">
              <option [value]="-1">Selecione</option>
              <option *ngFor="let genero of generos" [value]="genero.id">
                {{genero.nome}}
              </option>
            </select>
            <span class="error" *ngIf="gen.touched && gen.value == -1" >Selecione um gênero</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit"  [disabled]="!f.valid || gen.value == -1" class="btn btn-success pull-left">salvar</button>
          <button type="button" class="btn btn-default" (click)="closeModal()" data-dismiss="modal">Fechar</button>
        </div>
      </form>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <div class="col-md-6 col-custom" style="padding-left: 0px;">
      <button type="button" (click)="novo()" class="btn btn-custom btn-success" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus"> Novo</i>
      </button>
    </div>
    <div class="col-md-6 col-sm-12 form-inline">
      <div class="pull-right">
        <input type="text" placeholder="Título" [(ngModel)]="busca" class="form-control" />
        <button (click)="buscarPorTitulo()" class="btn btn-info">Buscar</button>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover ">
        <thead>
          <tr>
            <th>Título</th>
            <th>Gênero</th>
            <th>Duração</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let filme of filmes">
            <td>{{filme.titulo}}</td>
            <td>{{filme.genero.nome}}</td>
            <td>{{filme.duracao}} min.</td>
            <td class="text-center">
              <button class="btn btn-danger" (click)="confirmarExclusao(filme.idFilme)">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-warning" data-toggle="modal" (click)="editar(filme)">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- Modal -->
<div id="excluir" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{filme.titulo}}</h4>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" (click)="excluir()">SIM</button>
        <button type="button" class="btn btn-default" (click)="closeModal()" data-dismiss="modal">NÃO</button>
      </div>
    </div>
  </div>
</div>